@{
    ViewBag.Title = "About";
}


<section class="bg-light py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8">
                <h1>Our Store</h1>
                <p>
                    From a young age I have had a fascination with the wizarding world. From reading the books to watching the movies. This led to a passion in collecting nic nacs from the films to room decorations. From this passion I decided to open my own store to provide others with the joy of collecting items from the wizarding world. Please look around and hopefully you can have the enjoyment that myself and others get from this wonderful world of Harry Potter!
                </p>
            </div>
          
        </div>
    </div>
</section>
<!-- Close Banner -->
<!-- Start Section -->

<!-- End Section -->
<!-- Start Brands -->

<!--End Brands-->