@{
    ViewBag.Title= "Home";
}

@*<h2>@ViewBag.Title</h2>*@
<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    @*<ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>*@

    <div class="container">
        <div class="row p-5">
            <div class="text-center">
                <img class="img-fluid" src="~/Content/img/hogwarts_crest_by_eberlins_d4prbz3-fullview.png" alt="">
            </div>
            @*<div class="col-lg-12 mb-0 d-flex align-items-center">
                    <div class="text-align-left align-self-center">
                        <h1 class="h1 text-success"><b>Zay</b> eCommerce</h1>
                        <h3 class="h2">Tiny and Perfect eCommerce Template</h3>
                        <p>

                        </p>
                    </div>
                </div>*@
        </div>
    </div>
</div>

<section class="bg-light py-1">
    <div class="container">
        <div class="row text-center py-1">
            <div>
                <h1>Our Store</h1>
                <p>
                    From a young age I have had a fascination with the wizarding world. From reading the books to watching the movies. This led to a passion in collecting nic nacs from the films to room decorations. From this passion I decided to open my own store to provide others with the joy of collecting items from the wizarding world. Please look around and hopefully you can have the enjoyment that myself and others get from this wonderful world of Harry Potter!
                </p>
            </div>

        </div>
    </div>
</section>
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <div>

                    <img src="~/Content/img/olivandarsRESIZED.jpg" class="card-img-top indeximage" alt="Ollivandars Wands" />

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div>


                    <img src="~/Content/img/HogwartsRESIZED.jpg" class="card-img-top indeximage" alt="Hogwarts Castle" />

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div>


                    <img src="~/Content/img/insidestoreRESIZED.jpg" class="card-img-top indeximage" alt="In side of the store" />

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->
