@using Microsoft.AspNet.Identity
@*@using StoreFront.DATA.EF;*@


    <div>
        @if (Request.IsAuthenticated)
        {

            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                @*<ul class="nav navbar-nav d-flex justify-~/Content-between mx-lg-auto">*@
                <div>
                    @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                </div>
                <div><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"> Log off</a></div>

                @*</ul>*@
            }
        }
        else
        {
            @*<ul class="nav navbar-nav d-flex justify-~/Content-between mx-lg-auto">*@
            <div>
                <a class="dropdown-item" href="@Url.Action("Register","Account")" id="registerLink"><i class="fa fa-user-plus" aria-hidden="true">REGISTER </i></a>
                @*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
            </div>
            <div>
                <a class="dropdown-item" href="@Url.Action("Login","Account")" id="loginLink"><i class="fa fa-sign-in" aria-hidden="true">LOGIN</i></a>
                @*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
            </div>
            @*</ul>*@
        }
    </div>

