/*
Custom Css
*/
.formContainer {
    border: 3px solid #535ba0;
    box-shadow: 20px 20px darkgray;
    padding: 3em 1em;
    width: 60%;
    margin: auto;
    min-width: 20%
}

#mainContent > h2 {
    text-align: center;
}

input[type="checkbox"] {
    margin-top: 1em;
}

#indexWrapper {
    width: 80%;
    margin: auto;
    padding: 2em;
}


    #indexWrapper > table {
        box-shadow: black 0px 10px 40px;
    }

label {
    padding-top: .5em;
}

textarea {
    resize: none;
}

    textarea#Description {
        height: 10em;
    }

.formContainer img {
    max-height: 300px;
    width: auto;
}

body {
   background-color: #800000;
}
/*.footer{
    background-color: gray;
}*/

#backToTop{
    background-color: #800000;
}

tr{
    background-color: white;
}
tr:nth-child(even) {
    background-color: oldlace;
}

a{
    text-decoration: none;
}

#shop{
    border: 2px solid;
    border-radius: 5px;
}

